@model ParkManagment.DTOs.DriverDto
<div>
  <table class="table">
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>PhoneNumber</th>
      <th>DateOfBirth</th>
      <th>ParkName</th>
      <th> CarOwned</th>
      <th>Update</th>
    </tr>
    <tr>
      <td>@Model.FirstName</td>
      <td>@Model.LastName</td>
      <td>@Model.PhoneNumber</td>
      <td>@Model.Dob</td>
      <td>@Model.ParkName</td>
      <th> <a asp-action="GetCarByDrivers" asp-route-id="@Model.Id" class="btn btn-primary">Cars</a></th>
      <th> <a asp-controller="Driver" asp-action="Update" class="btn btn-primary">Update</a></th>
    </tr>
  </table>
</div>
<br>
<div>
  <a asp-controller="Motor"asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary">Add car</a>
</div>
<br>
<div>
  <a asp-action="Logout" class="btn btn-primary">Logout</a>
</div>