@model ParkManagment.DTOs.MotorDto


<div>
     <table class="table">
       <tr>
         <th>Id</th>
         <th>Name</th>
         <th>DriverName</th>
         <th>RegistrationNumber</th>
         <th>DriverPhoneNumber</th>
         <th>Park</th>
       </tr>
       <tr>
         <td>@Model.Id</td>
         <td>@Model.Name</td>
         <td>@Model.DriverName</td>
         <td>@Model.RegNumber</td>
         <td>@Model.DriverPhoneNumber</td>
         <td>@Model.ParkName</td>
       </tr>
          <tr>
          </tr>
        </table>
</div>
