@model ParkManagment.DTOs.Staff.StaffDto

<div>
    <table class="table">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>PhoneNumber</th>
            <th>DateOfBirth</th>
            <th>ParkName</th>
        </tr>
        <tr>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.PhoneNumber</td>
            <td>@Model.Dob</td>
            <td>@Model.ParkName</td>
        </tr>
        <tr>
        </tr>
    </table>
</div>
<div>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th> <a asp-controller="Payment" asp-action="Index" class="btn btn-outline-dark">View Payments</a></th>
            <th><a asp-controller="Motor" asp-action="Index" class="btn btn-outline-primary">View Cars</a></th>
            <th> <a asp-controller="Driver" asp-action="Index" class="btn btn-outline-secondary" >View Drivers</a></th>
            <th> <a asp-controller="Payment" asp-action="Index" class="btn btn-outline-secondary" >Search Payment</a></th>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-controller="Staff"asp-action="Logout" class="btn btn-primary">Logout</a>
</div>