@model ParkManagment.DTOs.Staff.StaffDto

<div>
    <table class="table">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>PhoneNumber</th>
            <th>DateOfBirth</th>
            <th>ParkName</th>
        </tr>
        <tr>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.PhoneNumber</td>
            <td>@Model.Dob</td>
            <td>@Model.ParkName</td>
        </tr>
        <tr>
        </tr>
    </table>
</div>