@model IEnumerable<ParkManagment.DTOs.Staff.StaffDto>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Detail
            </th>
            <th>
                Update
            </th>
            <th>
                Delete
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var staff in Model)
        {
            <tr>
                <th>
                    @staff.Id
                </th>
                <th>
                    @staff.FirstName
                </th>
                <th>
                    <a asp-action="Get" asp-route-id="@staff.Id" class="btn btn-outline-primary">View</a>
                </th>
                <th>
                    <a asp-action="Update" asp-route-id="@staff.Id" class="btn btn-outline-success">Edit</a>
                </th>
                <th>
                    <a asp-action="Delete" asp-route-id="@staff.Id" class="btn btn-outline-danger" >Delete</a>
                </th>
            </tr>
        }
        </tbody>

    </table>
</div>
<div>
    <tr>
         <th>
           
        </th>
    </tr>
</div>
<div>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th> <a asp-controller="Payment" asp-action="Index" class="btn btn-outline-dark">View Payments</a></th>
            <th> <a asp-controller="Payment" asp-action="Create" class="btn btn-outline-success">Make Payments</a></th>
            <th><a asp-controller="Motor" asp-action="Index" class="btn btn-outline-primary">View Cars</a></th>
            <th> <a asp-controller="Driver" asp-action="Index" class="btn btn-outline-secondary" >View Drivers</a></th>
        </tr>
        </tbody>
    </table>
</div>